<header>
    <div class="container">
        <div class="theader">
            <nav>
                <ul class="theader__nav">
                    <li>
                        <a href="/">Main</a>
                    </li>
                    <li>
                        <a href="/test/">Test</a>
                    </li>
                    <li>
                        <a href="/other">Other</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<style >

    header{
        background-color: var(--dark);
        
    }
</style>
<style lang="scss">
    .theader{
        @apply py-5;
        &__nav{
            @apply flex gap-5 text-light;
        }
    }
</style>